{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
	{% for employe in employees %}
		<p>
			{{ employe.lastname }}
		</p>
		{% for media in employe.media %}
			{{ media.filename }}

			<img src="https://via.placeholder.com/640x480.png/00cc88?text=voluptatem" alt="">
		{% endfor %}
	{% endfor %}

{% endblock %}
